# Default values for replicated.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  imageRegistry: ""

# Deprecated: Use .Values.image instead of .Values.images
# The following properties for the Replicated SDK image are deprecated:
# 
# images:
#   replicated-sdk: ${REPLICATED_REGISTRY}/replicated/replicated-sdk:${REPLICATED_TAG}

# Replicated SDK image properties
# If .Values.images is set, it takes precedence over the following settings.
image:
  registry: ${REPLICATED_REGISTRY}
  repository: "replicated/replicated-sdk"
  tag: "${REPLICATED_TAG}"
  pullPolicy: IfNotPresent

license: ""
licenseFields: ""
appName: ""
channelID: ""
channelName: ""
channelSequence: -1
releaseSequence: -1
releaseCreatedAt: ""
releaseNotes: ""
versionLabel: ""
parentChartURL: ""
statusInformers: null
replicatedAppEndpoint: ""

serviceAccountName: ""
clusterRole: ""
imagePullSecrets: []
nameOverride: ""
namespaceOverride: ""

containerSecurityContext:
  enabled: true
  runAsNonRoot: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]

podSecurityContext:
  enabled: true
  runAsUser: 1001
  runAsGroup: 1001
  fsGroup: 1001
  supplementalGroups: [1001]
  seccompProfile:
    type: "RuntimeDefault"

service:
  type: ClusterIP
  port: 3000

privateCAConfigmap: ~
privateCASecret: ~

extraEnv: []

# "integration" mode related values.
integration:
  licenseID: ""
  # enabled: false
  mockData: ""

isAirgap: false

replicatedID: ""
appID: ""

tolerations: []

affinity: ~