# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
vendor
.idea/
.vscode/

# goreleaser
/dist

# packaged charts
/chart/replicated-*.tgz
/chart/Chart.yaml
/chart/values.yaml

# packaged test charts
/test-chart/Chart.yaml
/test-chart/Chart.lock
/test-chart/charts/
/test-chart/test-chart-*.tgz

.envrc
.DS_Store

sbom/
cosign.key

# debug binaries
cmd/replicated/__debug_bin

# pact
pact_logs/
pact/log/
pacts/
