apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "replicated.labels" . | nindent 4 }}
  name: replicated
type: Opaque
stringData:
  config.yaml: |
    license: {{- .Values.license | toYaml | indent 4 }}
    licenseFields: {{- include "replicated.licenseFields" . | indent 4 }}
    appName: {{ .Values.appName | default "" | quote }}
    channelID: {{ .Values.channelID | default "" | quote }}
    channelName: {{ .Values.channelName | default "" | quote }}
    {{- if .Values.channelSequence }}
    channelSequence: 
    {{- end }}
    {{- if .Values.releaseSequence }}
    releaseSequence: {{ .Values.releaseSequence }}
    {{- end }}
    releaseCreatedAt: {{ .Values.releaseCreatedAt | default "" | quote }}
    releaseNotes: |-
      {{ .Values.releaseNotes }}
    versionLabel: {{ .Values.versionLabel | default "" | quote }}
    replicatedAppEndpoint: {{ .Values.replicatedAppEndpoint | default "" | quote }}
    informersLabelSelector: 'app.kubernetes.io/managed-by={{ .Release.Service }},app.kubernetes.io/name!={{ include "replicated.name" . }},app.kubernetes.io/instance={{ .Release.Name }}'
  {{- if (.Values.integration).licenseID }}
  REPLICATED_INTEGRATION_LICENSE_ID: {{ .Values.integration.licenseID }}
  {{- end }}
  {{- if (.Values.integration).mockData }}
  REPLICATED_MOCK_DATA: {{- .Values.integration.mockData | toYaml | indent 1 }}
  {{- end }}
