{{- $values := include "replicated.values" . | fromYaml -}}
{{ if not $values.serviceAccountName }}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "replicated.labels" . | nindent 4 }}
  {{- if $values.commonAnnotations }}
  annotations:
    {{- toYaml $values.commonAnnotations | nindent 4 }}
  {{- end }}
  name: {{ include "replicated.serviceAccountName" . }}
  namespace: {{ include "replicated.namespace" . | quote }}
{{ end }}
