{{- $values := include "replicated.values" . | fromYaml -}}
{{ if and $values.clusterRole (not $values.serviceAccountName) }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "replicated.labels" . | nindent 4 }}
  {{- if $values.commonAnnotations }}
  annotations:
    {{- toYaml $values.commonAnnotations | nindent 4 }}
  {{- end }}
  name: {{ include "replicated.roleBindingName" . }}
  namespace: {{ include "replicated.namespace" . | quote }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ $values.clusterRole }}
subjects:
- kind: ServiceAccount
  name: {{ include "replicated.serviceAccountName" . }}
  namespace: {{ include "replicated.namespace" . | quote }}
{{ end }}
