{{/*
Renders the Support Bundle secret to be used by replicated
*/}}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "replicated.labels" . | nindent 4 }}
    troubleshoot.io/kind: support-bundle
  name: {{ include "replicated.supportBundleName" . }}
  namespace: {{ include "replicated.namespace" . | quote }}
stringData:
  support-bundle-spec: |-
    apiVersion: troubleshoot.sh/v1beta2
    kind: SupportBundle
    metadata:
      name: {{ include "replicated.supportBundleName" . }}
    spec:
      collectors:
        - logs:
            collectorName: replicated-logs
            selector:
              {{- range $k, $v := (include "replicated.labels" . | fromYaml) }}
              - {{ $k }}={{ $v }}
              {{- end }}
            name: replicated/logs
        - http:
            collectorName: replicated-sdk-app-info
            get:
              url: http://replicated-sdk.{{ include "replicated.namespace" . }}:3000/api/v1/app/info
        - http:
            collectorName: replicated-sdk-license-info
            get:
              url: http://replicated-sdk.{{ include "replicated.namespace" . }}:3000/api/v1/license/info
      analyzers:
        - jsonCompare:
            checkName: Replicated SDK App Status
            fileName: replicated-sdk-app-info.json
            path: "appStatus"
            value: "ready"
            outcomes:
              - warn:
                  when: "false"
                  message: Replicated SDK App status is not ready.
              - pass:
                  when: "true"
                  message: Replicated SDK App status is not ready.
