{{- $values := include "replicated.values" . | fromYaml -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "replicated.labels" . | nindent 4 }}
  {{- if $values.commonAnnotations }}
  annotations:
    {{- toYaml $values.commonAnnotations | nindent 4 }}
  {{- end }}
  name: {{ include "replicated.deploymentName" . }}
  namespace: {{ include "replicated.namespace" . | quote }}
spec:
  selector:
    matchLabels:
      {{- include "replicated.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/replicated-secret: {{ include (print $.Template.BasePath "/replicated-secret.yaml") . | sha256sum }}
        {{- if $values.commonAnnotations }}
        {{- toYaml $values.commonAnnotations | nindent 8 }}
        {{- end }}
      labels:
        {{- include "replicated.labels" . | nindent 8 }}
        {{- if $values.podLabels }}
        {{- include "replicated.podLabels" . | nindent 8 }}
        {{- end }}
    spec:
      {{- with $values.imagePullSecrets | default $values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if $values.automountServiceAccountToken }}
      automountServiceAccountToken: {{ $values.automountServiceAccountToken }}
      {{- end }}
      {{- if $values.hostAliases }}
      hostAliases: {{- toYaml $values.hostAliases | nindent 8 }}
      {{- end }}
      {{- if $values.topologySpreadConstraints }}
      topologySpreadConstraints: {{- toYaml $values.topologySpreadConstraints | nindent 8 }}
      {{- end }}
      {{- if $values.priorityClassName }}
      priorityClassName: {{ $values.priorityClassName }}
      {{- end }}
      {{- if $values.schedulerName }}
      schedulerName: {{ $values.schedulerName }}
      {{- end }}
      {{- if $values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ $values.terminationGracePeriodSeconds }}
      {{- end }}
      {{- if $values.hostNetwork }}
      hostNetwork: {{ $values.hostNetwork }}
      {{- end }}
      {{- if $values.hostIPC }}
      hostIPC: {{ $values.hostIPC }}
      {{- end }}
      {{- with $values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if $values.podSecurityContext }}
      securityContext:
        {{- include "replicated.podSecurityContext" . | nindent 8 }}
      {{- end }}
      volumes:
      - name: replicated
        secret:
          secretName: {{ include "replicated.secretName" . }}
      {{- if $values.privateCAConfigmap }}
      - name: additional-certs
        configMap:
          defaultMode: 420
          name: {{ $values.privateCAConfigmap }}
      {{- else if $values.privateCASecret }}
      - name: additional-certs
        secret:
          defaultMode: 420
          secretName: {{ $values.privateCASecret.name }}
          items:
          - key: {{ $values.privateCASecret.key }}
            path: ca.crt
      {{- end }}
      {{- if $values.extraVolumes }}
      {{- toYaml $values.extraVolumes | nindent 6 }}
      {{- end }}
      {{- if $values.initContainers }}
      initContainers:
      {{- toYaml $values.initContainers | nindent 6 }}
      {{- end }}
      containers:
      - name: replicated
        image: {{ include "replicated.containerImage" . }}
        imagePullPolicy: {{ include "replicated.imagePullPolicy" . }}
        {{- if $values.containerSecurityContext }}
        securityContext:
          {{- include "replicated.containerSecurityContext" . | nindent 12 }}
        {{- end }}
        volumeMounts:
        - name: replicated
          mountPath: /etc/replicated/config.yaml
          readOnly: true
          subPath: config.yaml
        {{- if $values.privateCAConfigmap }}
        - mountPath: /certs
          name: additional-certs
        {{- else if $values.privateCASecret }}
        - mountPath: /certs/ca.crt
          subPath: ca.crt
          name: additional-certs
        {{- end }}
        {{- if $values.extraVolumeMounts }}
        {{- toYaml $values.extraVolumeMounts | nindent 8 }}
        {{- end }}
        env:
        {{- with $values.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- $httpsProxy := include "replicated.httpsProxy" . }}
        {{- if $httpsProxy }}
        - name: HTTPS_PROXY
          value: {{ $httpsProxy | quote }}
        {{- end }}
        {{- $noProxy := include "replicated.noProxy" . }}
        {{- if $noProxy }}
        - name: NO_PROXY
          value: {{ $noProxy | quote }}
        {{- end }}
        {{- if or $values.privateCAConfigmap $values.privateCASecret }}
        - name: SSL_CERT_DIR
          value: /certs
        {{- end }}
        - name: REPLICATED_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: REPLICATED_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        {{- if $values.isAirgap }}
        - name: DISABLE_OUTBOUND_CONNECTIONS
          value: {{ $values.isAirgap | quote }}
        {{- end }}
        - name: IS_HELM_MANAGED
          value: "true"
        - name: HELM_RELEASE_NAME
          value: {{ .Release.Name }}
        - name: HELM_RELEASE_NAMESPACE
          value: {{ .Release.Namespace }}
        {{- if $values.parentChartURL }}
        - name: HELM_PARENT_CHART_URL
          value: {{ $values.parentChartURL | quote }}
        {{- end }}
        - name: HELM_DRIVER
          value: secret # TODO: support other drivers
        - name: REPLICATED_SECRET_NAME
          value: {{ include "replicated.secretName" . }}
        - name: REPLICATED_DEPLOYMENT_NAME
          value: {{ include "replicated.deploymentName" . }}
        - name: REPLICATED_CONFIG_FILE
          value: /etc/replicated/config.yaml
        {{- if ($values.integration).licenseID }}
        - name: REPLICATED_INTEGRATION_LICENSE_ID
          valueFrom:
            secretKeyRef:
              name: {{ include "replicated.secretName" . }}
              key: integration-license-id
        {{- end }}
        ports:
        - containerPort: 3000
          name: http
        {{- if $values.resources }}
        resources: {{- toYaml $values.resources | nindent 10 }}
        {{- end }}
        {{- if $values.readinessProbe }}
        readinessProbe:
          {{- $readinessProbe := $values.readinessProbe | deepCopy }}
          {{- if and $values.tlsCertSecretName $readinessProbe.httpGet }}
            {{- $_ := set $readinessProbe.httpGet "scheme" "HTTPS" }}
          {{- end }}
          {{- toYaml $readinessProbe | nindent 10 }}
        {{- end }}
        {{- if $values.livenessProbe }}
        livenessProbe:
          {{- $livenessProbe := $values.livenessProbe | deepCopy }}
          {{- if and $values.tlsCertSecretName $livenessProbe.httpGet }}
            {{- $_ := set $livenessProbe.httpGet "scheme" "HTTPS" }}
          {{- end }}
          {{- toYaml $livenessProbe | nindent 10 }}
        {{- end }}
      {{- if $values.restartPolicy }}
      restartPolicy: {{ $values.restartPolicy }}
      {{- end }}
      serviceAccountName: {{ include "replicated.serviceAccountName" . }}
