apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    test-chart: "deployment"
    {{- include "test-chart.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      test-chart: "deployment"
      {{- include "test-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        test-chart: "deployment"
        {{- include "test-chart.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "test-chart.serviceAccountName" . }}
      imagePullSecrets:
        - name: enterprise-pull-secret
      containers:
        - name: {{ .Chart.Name }}
          image: "proxy.replicated.com/proxy/replicated-sdk-e2e/index.docker.io/library/nginx:latest"
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
